<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.springhack">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MediumEnemy"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Review"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".EnemyLeft"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>



        <activity android:name=".SignUp"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".SignIn"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>


        <!--<activity android:name=".Exhange"></activity>
        <activity android:name=".AddTask" />
        <activity android:name=".Tasks" />
        <activity android:name=".ProfileTeamlid" />
        <activity android:name=".Hero" />
        <activity android:name=".BigBoss" />
        <activity android:name=".Enemy" />
        <activity android:name=".SmallBoss" />
        <activity android:name=".Participants" />
        <activity android:name=".BeforeEnemy" />
        <activity android:name=".Artefact" />
        <activity android:name=".Profile" />
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
            -->

        <activity android:name=".AddTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Tasks"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".ProfileTeamlid"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".Profile"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".Hero"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".BigBoss"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".Enemy"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".SmallBoss"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <!--<activity android:name=".ProfileTeamlid" />-->
        <activity android:name=".Participants"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".Exhange"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".BeforeEnemy"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Artefact"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

                <activity android:name=".MainActivity"
                    android:theme="@style/AppTheme.NoActionBar"
                    android:screenOrientation="portrait">

                        <intent-filter>
                                <action android:name="android.intent.action.MAIN" />

                                <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>

                </activity>



        <!--<activity android:name=".BigBoss" />
        <activity android:name=".Enemy" />
        <activity android:name=".SmallBoss" />
        <activity android:name=".MainActivity">
        </activity>-->



        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>